name: Container

on: push

jobs: 
    node-docker:
        runs-on: ubuntu-latest
        container: 
            image: node:25-alpine3.22
        steps: 
            - name: Log node version
              run: |
                node -v
                cat /etc/os-release    

